[user]
	email = guilhermesadovski@gmail.com
	name = gsadovski
[credential "https://git.overleaf.com"]
	username = guilherme.sadovski@oist.jp
[core]
	excludesfile = /home/gsadovski/.gitignore_global
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[credential]
	helper = cache --timeout=300
